# ================= DATABASES =================
data/*.db
data/*.sqlite
data/*.sqlite3

# ================= PYTHON ====================
__pycache__/
*.pyc
*.pyo

# ================= ENV =======================
venv/
.env

# ================= NODE ======================
node_modules/
dist/

# ================= OS ========================
.DS_Store
Thumbs.db
